body {
    background-color: aquamarine;
}
ul a{
    text-decoration: none;
    color:rgb(243, 154, 20);
}
ul{
    list-style-type: square
}   
img{
    background-color: rgb(51, 252, 1);
    font-weight: 50px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}